- return unless License.feature_available?(:adjourned_deletion_for_projects_and_groups)

- f = local_assigns.fetch(:form)

.form-group
  = f.label s_('Default delayed project deletion'), class: 'label-bold'
  .form-check
    = f.check_box :delayed_project_deletion, class: 'form-check-input'
    = f.label :delayed_project_deletion, class: 'form-check-label' do
      = _('Enable delayed project deletion by default for newly-created groups.')
      = _('Does not apply to projects in personal namespaces, which are deleted immediately on request.')
